---
- name: Configure Machine 2
  hosts: group2
  become: true

  vars:
    new_iface_names:
      - ens0
      - ens1

  tasks:
    - name: Information message
      ansible.builtin.debug:
        msg:
          - "###############################################################"
          - " ##########                 Machine 2                 #########"
          - "###############################################################"

    - name: Get active connections
      ansible.builtin.command: nmcli -t -f NAME,DEVICE connection show --active
      register: active_conns
      changed_when: false

    - name: Check length of active connections
      when: (new_iface_names | length) > ((active_conns.stdout_lines | difference(['lo:lo'])) | length)
      ansible.builtin.fail:
        msg:
          - "You declared more interfaces to rename than active connections available!"
          - "The length of new_iface_names is: {{ (new_iface_names | length) }}"
          - "The length of active connections is: {{ ((active_conns.stdout_lines | difference(['lo:lo'])) | length) }}"

    - name: Process interface renames
      when: (new_iface_names | length) <= ((active_conns.stdout_lines | difference(['lo:lo'])) | length)
      ansible.builtin.include_tasks: block-rename-network.yml
      loop: "{{ new_iface_names | sort }}"
      loop_control:
        index_var: idx

  handlers:
    - name: reboot_system
      ansible.builtin.reboot:
        msg: "Rebooting to apply network interface renames"
        pre_reboot_delay: 5
        reboot_timeout: 300
        test_command: whoami
